bin
bin/**
.metadata
.metadata/**
.recommenders
java/build/*
java/build/**
java/build
java/dist/*
java/dist
java/dist/catan-server.jar
java/dist/catan-client.jar
java/dist/**
.recommenders/*
demo/logs
